body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(59,59,59);
    background: linear-gradient(90deg, rgba(59,59,59,1) 0%, rgba(54,46,37,1) 45%, rgba(43,59,62,1) 100%);
    color: #fff;
  }
  
 #products{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;

  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(19, 19, 19, 0.6);
  border-radius: 20px;
 }

  h1 {
    text-align: center;
    margin-top: 20px;
    color: #eebd1e;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
  
  }
  
  /* Form styles */
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  form button[type="submit"] {
    padding: 10px 20px;
    background-color: #eebd1e;
    color: #2e2e2e;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #f3cd50;
  }
  
  form p {
    margin-top: 10px;
    color: green;
    font-size: 16px;
  }
  
  /* Product list styles */
  
  h2 {
    text-align: center;

  }
  
  #barcode {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 100px;
  }
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  div p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  div p button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #eebd1e;
  }
  
  div p button:hover {
    background-color: #f3cd50;
  }
  
  /* Loading styles */
  
  p.loading {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
  }